.footer {
background-color: #222;
padding: 20px 0;
font-size: 16px;
line-height: 1.6;
}

.footer h6 {
font-size: 17px;
font-weight: bold;
margin-top: 0;
margin-bottom: 20px;
}

.footer hr {
margin-top: 5px;
margin-bottom: 10px;
border-top: 1px solid #fff;
opacity: 0.5;
}

.footer p {
margin-bottom: 5px;
}

.footer a {
color: #fff;
}

.footer a:hover {
color: gray;
}

.footer ul {
margin: 0;
padding: 0;
list-style: none;
margin-bottom: 10px;
}

.footer ul li {
margin-bottom: 10px;
}

.footer .fa {
font-size: 20px;
margin-right: 10px;
}

.footer .text-white {
color: #fff;
}